/* general styling */

h1 {
  text-align: center;
  padding: 10px;
}

/* home */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-logo-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.home-logo {
  height: 180px;
}
.home-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  gap: 10px;
}

/* new listing */

.new-listing-form {
  background-color: lightgrey;
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 15px;
  max-width: 380px;
  padding: 20px;
  width: 380px;
}

.addlisting-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 480px) {
  .new-listing-form {
    max-width: 90%;
    width: 90%;
    padding: 15px;
    gap: 15px;
  }
}

/* single listing page */
.single-listing-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* protected page */

.protected-route-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  text-align: center;
}

/* error page */

.error-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  text-align: center;
}

.logo {
  height: 300px;
  width: 300px;
  padding: 10px;
}
