/* general styling */

h1 {
  text-align: center;
  padding: 10px;
}

/* home */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-logo-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.home-logo {
  height: 180px;
}

/* new listing */

.new-listing-form {
  background-color: lightgrey;
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 15px;
  max-width: 380px;
  padding: 20px;
  width: 380px;
}

.addlisting-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 480px) {
  .new-listing-form {
    max-width: 90%;
    width: 90%;
    padding: 15px;
    gap: 15px;
  }
}

/* single listing page */
.single-listing-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* profile page */

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.profile-navbar {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

@media (max-width: 480px) {
  .profile-navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 11px;
  }
}

.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.avatar-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-top: 15px;
}

.avatar-picture {
  outline: 2px solid grey;
}

/* profile - messages */

.messages-link {
  text-decoration: none;
}

.message-list {
  background-color: #add7ed;
}

/* my profile - listings */
.profile-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.user-card-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* protected page */

.protected-route-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  text-align: center;
}

/* error page */

.error-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  text-align: center;
}

.logo {
  height: 300px;
  width: 300px;
  padding: 10px;
}

/* animation */

.shake-left-right {
  display: inline-block;
  animation: shake 0.5s ease-in-out infinite;
}

.shake-left-right :hover {
  animation: shake-left-right 0.8s linear both;
}

@keyframes shake-left-right {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  10% {
    transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  90% {
    transform: rotate(8deg);
  }
}
