h1 {
  text-align: center;
  padding: 10px;
}

/* navbar */

.bg-body-tertiary {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.dropdown-menu {
  margin-bottom: 10px;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 350px; 
  padding: 20px;
  width: 350px;
  
  
}

/* dropdown menu - not used atm */

.dropdown-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.dropdown {
  border-radius: 50%;
  /* height: 50px;
  width: 50px; */
}

.dropdown-menu {
  border-radius: 20%;
  background-color: rgb(144, 190, 206);
  
}








