/* dark-light mode */

:root {
  --background-color: #dee4e7;
  --color: #37474f;
}

.dark-theme {
  --background-color: #37474f;
  --color: #dee4e7;
}

body {
  background-color: var(--background-color);
  color: var(--color);
}

/* apply smooth transitions to key elements */
body,
.navbar,
.navbar-light,
.nav-link,
.btn,
.card,
.form-control,
.form-select,
form,
.card-text,
.message-preview,
.chat-container,
.navbar-brand,
select {
  transition: color 0.8s, background-color 0.8s, border-color 0.8s;
}

/* navbar */

.bg-body-tertiary {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 8px;
}

body.dark-theme .bg-body-tertiary {
  box-shadow: 0 2px 4px 0 rgba(79, 79, 79, 0.989);
  margin-bottom: 8px;
}

body .nav-link {
  color: #000;
}

body.dark-theme .nav-link {
  color: #fff;
}

body .nav-link:hover {
  color: #007bff;
}

body.dark-theme .nav-link:hover {
  color: #007bff;
}

body.dark-theme .navbar-light {
  background-color: #353b3e !important;
}

body.dark-theme .navbar-brand {
  color: white;
}

/* active link will always have the same color */

body.dark-theme .nav-link.active {
  color: #007bff !important;
}
.nav-link.active {
  color: #007bff !important;
}
/* buttons */

body.dark-theme .btn-primary {
  background-color: #80cbc4;
  border: solid 1px #80cbc4;
  color: black;
}

/* listing cards */

body.dark-theme .card {
  background-color: #263238;
  color: #dee4e7;
  border: 1px solid #455a64;
}

body.dark-theme .card-text {
  color: white !important;
}

body.dark-theme #like-button {
  background-color: #263238;
  border: transparent;
}

/* form + inputs */

body.dark-theme .register-form {
  background-color: #455a64;
  color: #dee4e7;
}

body.dark-theme .new-listing-form {
  background-color: #455a64;
  color: #dee4e7;
}

body.dark-theme .form-control {
  background-color: #37474f;
  color: #dee4e7;
  border: 1px solid #f0f0f0;
}

body.dark-theme .form-control::placeholder {
  color: #dee4e7;
}

/* filters */

body.dark-theme select {
  background-color: #37474f;
  color: #dee4e7;
  border: 1px solid #90a4ae;
}

/* modal */
body.dark-theme .modal-content {
  background-color: #263238;
  color: #dee4e7;
  border: 1px solid #455a64;
}

body.dark-theme .modal-header {
  background-color: #37474f;
  color: #dee4e7;
  border-bottom: 1px solid #455a64;
}

body.dark-theme .modal-body {
  background-color: #37474f;
  color: #dee4e7;
}

body.dark-theme .modal-body::placeholder {
  color: #dee4e7;
}

body.dark-theme .modal-footer {
  background-color: #37474f;
  border-top: 1px solid #455a64;
}

/* list of messages */

body.dark-theme .message-preview {
  background-color: #455a64;
  color: #dee4e7;
}

body.dark-theme .messages-link :hover {
  background-color: #37474f;
}

/* single chat page */

body.dark-theme .chat-container {
  background-color: #455a64;
}

body.dark-theme .user-message {
  background-color: #c2f29c;
}

body.dark-theme .other-message {
  background-color: #d9d0d0;
}
