.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-listing-form {
  background-color: lightgrey;
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 15px;
  max-width: 380px;
  padding: 20px;
  width: 380px;
}

.register-form {
  background-color: lightgrey;
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  height: 400px;
  max-width: 380px;
  padding: 20px;
  width: 380px;
}

.link-register {
  text-decoration: none;
  color: var(--color);
  transition: color 0.8s ease-in-out;
  font-weight: 800;
}

@media (max-width: 480px) {
  .register-form {
    max-width: 90%;
    width: 90%;
    padding: 15px;
    gap: 15px;
  }
}
