.chat-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  outline: solid black 3px;
  padding: 10px;
  margin: auto;
  width: 80%;
  max-height: 500px;
  overflow-y: auto;
}

.single-message-container {
  max-width: 80%;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  color: black;
  outline: 1px lightgrey solid;
}

.input-chat-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.user-message {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.other-message {
  align-self: flex-start;
  background-color: #f1f0f0;
}

.single-message-container p {
  margin: 0;
}
